.card {
  padding: 5px;
  background-color: #eeeeee;
  max-height: 90%;
  overflow: auto;
}

.img-crop {
  object-fit: cover;
  width:100%;
  max-height: 30vh;
}

.inline {
  display:flex;
}

.nav-link {
  margin-top: 20px;
}

.bubble {
  border: 1px solid black;
  border-radius: 100px;
  padding: 3px 8px;
  margin-right: 10px;
  display: inline-block;
  width: auto;
}

btn.btn-primary .nav-link {
  margin-right: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}